<nb-layout>

    <nb-layout-column>

        <div id="layer">

            <div id="auth-box">

                <div class="d-flex justify-content-center m-4">
                    <img class="brand-logo" src="assets/images/logo/cvp-logo.png"/>
                </div>

                <div class="error-message" *ngIf="errorMessage">
                    <nb-icon  icon="alert-circle-outline"></nb-icon> {{errorMessage}}
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">


                    <input type="text" formControlName="username" nbInput fullWidth placeholder="Email">
                    <input type="password" formControlName="password" nbInput fullWidth placeholder="Password">
                    <button nbButton type="submit" [disabled]="isGrinding">Login <span *ngIf="isGrinding" class="spinner"></span></button>

                </form>


            </div>

        </div>


    </nb-layout-column>

</nb-layout>
