.content-list-style {

    ul.episodes {
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgba(0, 0, 0, 0.08);

        li {
            &.episode-header {
                background: #F3F3F3;
            }

        }
    }

}
